.merch_h1{
    text-align: center;
    color: #fff;
    font-size: 48px;
}
.merchWrapper{
    width: 1240px;   
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    column-gap: 10px;
}

.merchSlider{
    width: 1090px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.merchCardHolder{
    width: auto;
    display: flex;
    column-gap: 30px;
    position: absolute;
    transition-duration: .7s;
}

.merchCard__button{
    outline: none;
    border: none;
    font-size: 48px;
    background-color: transparent;
    color: #fff;
}

.merchCard{
    border-radius: 10px;
    background-color: #fff;
    width: 250px;
    height: 300px;
}

.merchCard__photo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.merchCard__img{
    width:  200px;
    height: 200px;
    padding: 20px;
    object-fit: scale-down;
    
}