*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
    
}

.app {
    width: auto;
    height: 100vw;
    background-image: url(../../public/content/bg.jpg);
    background-size: auto;
    margin: 0 auto;
}
