
.cartModal{
    
}
.cartModal__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1040px;
    height: 600px;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    row-gap: 15px;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    
}

.cartItem{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #727272;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
}

.cartItem__photo{
    width: 80px;
    height: 80px;
}

.cartItem__img{
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

.cartItem{
    display: flex;
    height: 80px;
    width: 800px;
}