
.cartModal{
    position: relative;
}

.cartModal__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1040px;
    
}
.cartModal__itemWrapper{
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    row-gap: 15px;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    height: 600px;
    padding-bottom: 100px;
}

.cartModal__buttonsWrapper{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    column-gap: 20px;
}

.cartModal__button{
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 5px;
    min-width: 200px;
    color: #fff;
}

.cartModal__buttonCancel{
    background-color: #424242;
}

.cartModal__buttonBuy{
    background-color: #b3572d;
}
.cartModal__button:hover{
    background-color: #d1d1d1;
    color: #000;
}

.cartItem{
    background-color: #003261;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #b6b6b6;
    border-radius: 25px;
    padding: 20px;
    height: 80px;
    width: 800px;
    color: #fff;
}

.cartItem__photo{
    width: 80px;
    height: 80px;
}

.cartItem__img{
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

.cartItem__sizes{
    display: flex;
    column-gap: 10px;
}

.cartItem__button{
    color: #fff;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
}

.cartItem__button:hover{
    color: rgb(66, 66, 66);
    transform: scale(115%);
}